<div class="row">

    <div class="ml-auto">
        <form method="get" action="/users/add">
            <button type="submit" class="btn btn-success btn-sm">Crear Nuevo</button>   
        </form>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Doc</th>
                <th scope="col">Name</th>
                <th scope="col">Lastname</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {{#each users}}
            <tr>
                <th scope="row">1</th>
                <td>{{identification_number}}</td>
                <td>{{name}}</td>
                <td>{{lastname}}</td>
                <td class="d-flex">
                    <a href="/users/edit/{{_id}}" class="btn btn-primary btn-sm"><i class="fas fa-edit"></i></a>
                    <a href="" class="btn btn-warning btn-sm mx-2"><i class="fas fa-users-slash"></i></a>
                    <form action="/users/delete/{{_id}}?_method=DELETE" method="POST">
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit" class="btn btn-danger btn-sm"><i class="far fa-trash-alt"></i></button>
                    </form>
                </td> 
                {{else}}
                <td class="text-center" colspan="5">No Hay registros</td>
            </tr>
            {{/each}}
        </tbody>
    </table>

</div>